:root{
	--background_color: #eaeaea;
	--text_color: #6c757d;
    --warning_color: #dc3545;
    --primary_color: #55a04b;
    --list_background_color: white;
}

body {
    background: var(--background_color) !important;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: var(--primary_color);
    color: var(--text_color) !important;
    padding: 20px;
    border-radius: 10px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

ul.list-group {
    background: var(--list_background_color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul.list-group li {
    font-size: 1rem;
}

ul, li{
    background-color: var(--list_background_color) !important;
}

ul.list-group li a {
    text-decoration: none;
}

ul.list-group li a:hover {
    text-decoration: underline;
}

ul.list-group li.text-danger a {
    color: var(--warning_color) !important;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: #6c757d;
}

body .text-warning{
    color:var(--warning_color) !important;
}

a{
	color: var(--text_color) !important;
}