:root{
	--background_color: #eaeaea;
	--text_color: #6c757d;
    --warning_color: #dc3545;
    --primary_color: #55a04b;
    --list_background_color: white;
}

body {
    background: var(--background_color) !important;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: var(--primary_color);
    color: var(--text_color) !important;
    padding: 20px;
    border-radius: 10px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

ul.list-group {
    background: var(--list_background_color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul.list-group li {
    font-size: 1rem;
}

ul, li{
    background-color: var(--list_background_color) !important;
}

ul.list-group li a {
    text-decoration: none;
}

ul.list-group li a:hover {
    text-decoration: underline;
}

ul.list-group li.text-danger a {
    color: var(--warning_color) !important;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: #6c757d;
}

body .text-warning{
    color:var(--warning_color) !important;
}

a{
	color: var(--text_color) !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

label {
    padding-top: 1%;
}

#label_for_theme{
    padding: 1%;
    font-size: 1.5rem;
}