@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(218, 192, 23);
    }
}

@media only screen and (min-width: 601px) {
    body {
        background-color: rgb(202, 179, 45);
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    background-color: rgb(253, 253, 253);
}

.text {
    margin-left: 10%;
}

.container p {
    /*text-align: left;*/
}

p, h1 {
    color: black;
}


li {
    list-style: none;
}

a {
    color: black;
}

span{
    color: red;
}